<!DOCTYPE html>
<html lang="en">
	<head>
		{{>headerLinks}}
	</head>
	<body>
		{{>navbar}}

		<!-- main header -->
		<div class="container-fluid main_header">
			<div class="row">
				<div class="col-md-10 col-12 mx-auto">
					<div class="row">
						<div
							class="col-md-6 col-12 main_header_right align-items-center"
						>
							<figure>
								<img
									class="img-fluid"
									src="images/pexels-photo-4271933.jpeg"
									alt=""
								/>
							</figure>
						</div>
						<div
							class="col-md-6 col-12 main_header_left"
						>
							
							<h1>
								{{errorMessage}}
							</h1>
							<a href="/"
								>
                                <button type="button"class="btn btn-primary" >
                                    go back
                                </button>
                            
                        
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- footer -->

	{{>footer}}
	</body>
</html>
