<!DOCTYPE html>
<html lang="en">
	<head>
		{{>headerLinks}}
	</head>
	<body>
		{{>navbar}}

		<!-- main header -->
		<div class="container-fluid main_header">
			<div class="row">
				<div class="col-md-10 col-12 mx-auto">
					<div class="row">
						<div
							class="col-md-6 col-12 main_header_right align-items-center"
						>
							<figure>
								<img
									class="img-fluid"
									src="images/1530386_weather_clouds_fog_foggy_icon.png"
									alt=""
								/>
							</figure>
						</div>
						<div
							class="col-md-6 col-12 main_header_left"
						>
							<p>
								welcome to the
								weather app.
							</p>
							<h1>
								get the latest
								<span
									>weather</span
								>
								info of Your
								city
							</h1>
							<a href="/weather"
								><button>
									check
									now
								</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- footer -->

	{{>footer}}
	</body>
</html>
