<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
    <!-- header start -->
   {{>header}}
    <!-- header finished -->
    <section class="container">
        <div class="players">
            <article class="player">
                <div class="player-img">
                    <img class="player-1" src="images/players/player-1.png" alt="Naymer">

                </div>
                <div class="player-info">
                    <h3>Naymer Jr</h3>
                    <p>Neymar da Silva Santos Júnior, known as Neymar, is a Brazilian
                        professional footballer who
                        plays as a forward </p>
                </div>
            </article>
            <article class="player">
                <div class="player-img">
                    <img class="player-1" src="images/players/player-2.png" alt="Naymer">

                </div>
                <div class="player-info">
                    <h3>Naymer Jr</h3>
                    <p>Neymar da Silva Santos Júnior, known as Neymar, is a Brazilian
                        professional footballer who
                        plays as a forward </p>
                </div>
            </article>
            <article class="player">
                <div class="player-img">
                    <img class="player-1" src="images/players/player-3.png" alt="Naymer">

                </div>
                <div class="player-info">
                    <h3>Naymer Jr</h3>
                    <p>Neymar da Silva Santos Júnior, known as Neymar, is a Brazilian
                        professional footballer who
                        plays as a forward </p>
                </div>
            </article>
        </div>
        <div class="players margin">
            <article class="player">
                <div class="player-img">
                    <img class="player-1" src="images/players/player-4.png" alt="Naymer">

                </div>
                <div class="player-info">
                    <h3>Naymer Jr</h3>
                    <p>Neymar da Silva Santos Júnior, known as Neymar, is a Brazilian
                        professional footballer who
                        plays as a forward </p>
                </div>
            </article>
            <article class="player">
                <div class="player-img">
                    <img class="player-1" src="images/players/player-5.png" alt="Naymer">

                </div>
                <div class="player-info">
                    <h3>Naymer Jr</h3>
                    <p>Neymar da Silva Santos Júnior, known as Neymar, is a Brazilian
                        professional footballer who
                        plays as a forward </p>
                </div>
            </article>
            <article class="player">
                <div class="player-img">
                    <img class="player-1" src="images/players/player-6.png" alt="Naymer">

                </div>
                <div class="player-info">
                    <h3>Naymer Jr</h3>
                    <p>Neymar da Silva Santos Júnior, known as Neymar, is a Brazilian
                        professional footballer who
                        plays as a forward </p>
                </div>
            </article>
        </div>
        <div class="players margin">
            <article class="player">
                <div class="player-img">
                    <img class="player-1" src="images/players/player-7.png" alt="Naymer">

                </div>
                <div class="player-info">
                    <h3>Naymer Jr</h3>
                    <p>Neymar da Silva Santos Júnior, known as Neymar, is a Brazilian
                        professional footballer who
                        plays as a forward </p>
                </div>
            </article>
            <article class="player">
                <div class="player-img">
                    <img class="player-1" src="images/players/player-8.png" alt="Naymer">

                </div>
                <div class="player-info">
                    <h3>Naymer Jr</h3>
                    <p>Neymar da Silva Santos Júnior, known as Neymar, is a Brazilian
                        professional footballer who
                        plays as a forward </p>
                </div>
            </article>
            <article class="player">
                <div class="player-img">
                    <img class="player-1" src="images/players/player-9.png" alt="Naymer">

                </div>
                <div class="player-info">
                    <h3>Naymer Jr</h3>
                    <p>Neymar da Silva Santos Júnior, known as Neymar, is a Brazilian
                        professional footballer who
                        plays as a forward </p>
                </div>
            </article>
        </div>
        <div class="players margin">
            <article class="player">
                <div class="player-img">
                    <img class="player-1" src="images/players/player-10.png" alt="Naymer">

                </div>
                <div class="player-info">
                    <h3>Naymer Jr</h3>
                    <p>Neymar da Silva Santos Júnior, known as Neymar, is a Brazilian
                        professional footballer who
                        plays as a forward </p>
                </div>
            </article>
            <article class="player">
                <div class="player-img">
                    <img class="player-1" src="images/players/player-11.png" alt="Naymer">

                </div>
                <div class="player-info">
                    <h3>Naymer Jr</h3>
                    <p>Neymar da Silva Santos Júnior, known as Neymar, is a Brazilian
                        professional footballer who
                        plays as a forward </p>
                </div>
            </article>
            <article class="player">
                <div class="player-img">
                    <img class="player-1" src="images/players/player-12.png" alt="Naymer">

                </div>
                <div class="player-info">
                    <h3>Naymer Jr</h3>
                    <p>Neymar da Silva Santos Júnior, known as Neymar, is a Brazilian
                        professional footballer who
                        plays as a forward </p>
                </div>
            </article>
        </div>
    </section>
  
    <!-- second section -->
    <div class="second-section">
        <div class="info">
            <div class="player-description">
                <h1>All Highlights of Copa America 2021</h1>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis
                    enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            <a href="https://www.youtube.com/watch?v=sDFr2Yzd-8s" target="_blank"><button>
                    <p>Watch Live</p>
                    <i class="fas fa-arrow-right">

                    </i>

                </button></a>
        </div>
        <div class="image">
            <img src="images/match.png" alt="match" class="messi">
        </div>
    </div>
        {{>footer}}
   

</body>

</html>
