<!DOCTYPE html>
<html lang="en">
	<head>
		{{>headerLinks}}
	</head>
	<body>
		{{>navbar}}

		<!-- main header -->
		<div class="container-fluid main_header">
			<div class="row">
				<div class="col-md-10 col-12 mx-auto">

                        <div class="main_content">
                            <form class="temp_form">

                                <input type="text" id="cityname" placeholder="ENter your city name" autocomplete="off"> 
                                <input type="submit" value="search" id="submitBtn">
                            </form>
                        </div>

                        <div class="tempInformation">
                            <div class="top_layer">
                                <p id="day">friday</p>
                                <p id="today_date">8/13/2021</p>
                            </div>
                            <div class="main_layer">
                                <p id="city_name">output</p>

                                <div class="middle_layer " id="middle_layer" onclick ='changeClass()'>
                                    <p id="temp"><span>0</span> <sup>o</sup> C</p>
                                    <p id="temp_status">
                                        <img src="ddd" id="image" alt="">
                                    </p>
                                </div>

                            </div>
                        </div>
				</div>
			</div>
		</div>

		<!-- footer -->

		{{>footer}}

        <script src="js/main.js"></script>

	</body>
</html>
