 <header>
        <nav class="nav">
            <i class="fas fa-bars display"></i>
            <span class="nav__span"> <a href="/">Home</a>
                <a href="about">about</a>
                <a href="#">World cup 2023</a>
                <a href="#">Upcoming Matches</a>
                <a href="#">Contact</a>
            </span>
            <span class="button"> <button>
                        <i class="fas fa-sign-in-alt"></i>
                        <p> Log in</p>


                    </button></a>
            </span>
        </nav>
        {{name}}
        <div class="header">
            <div class="head-title">
                <h1>Conmebol
                    Copa America
                    2021
                </h1>
                <a href="https://www.youtube.com/watch?v=sDFr2Yzd-8s" target="_blank"><button>
                        <p>Watch Live</p>
                        <i class="fas fa-arrow-right">

                        </i>

                    </button></a>
            </div>
            <div class="header-title">
                <img src="images/banner.png" class="banner" alt="">
            </div>
        </div>
    </header>